<div class="title_page">
	<%= image_tag 'page-title.jpg'%>
	<div class="title_content">
		<h2><%= title 'Caffora' %></h2>
		<div class="page_subtitle">We are Caffora team</div>
	</div>
</div>
<div class="about_container">
	<div class="about">
		<div class="about_image">
			<div>
				<%= image_tag 'cafe.jpg'%>
			</div>
		</div>
		<div class="about_info">
			<div>
				<h6>Café</h6>
				<span>You can subscribe here to get our latest news.</span>
				<p>Costa Rica se caracteriza por ser una región productora de café de categoría de especialidad, esto nos facilita contar con un equipo conformado por baristas consultores especialistas en preparación de café con una amplia experiencia.</p>
			</div>
		</div>
	</div>
	<div class="about">
		<div class="about_image">
			<div>
				<%= image_tag 'service_1.jpg'%>
			</div>
		</div>
		<div class="about_info">
			<div>
				<h6>Arquitectura</h6>
				<span>You can subscribe here to get our latest news.</span>
				<p>El concepto de una cafetería se ve reflejado en el diseño espacial óptimo tanto funcional como estético. Valoramos su idea a través de texturas, colores y sensaciones para lograr completar la experiencia final al degustar un buen café.</p>
			</div>
		</div>
	</div>
	<div class="about">
		<div class="about_image">
			<div>
				<%= image_tag 'arq.jpg'%>
			</div>
		</div>
		<div class="about_info">
			<div>
				<h6>Fotografía</h6>
				<span>You can subscribe here to get our latest news.</span>
				<p>El arte de plasmar detalles en el momento indicado, por eso nos gusta capturar la esencia de cada lugar y taza de café que nos quieran contar una historia de una manera diferente.</p>
			</div>
		</div>
	</div>
</div>
<div class="about_slider">
	<div class="picture_table"><%= render 'pictures/table' %></div>
	<div class="picture_form"></div>
</div>