<div class="title_page">
	<%= image_tag 'page-title.jpg'%>
	<div class="title_content">
		<h2>Caffora</h2>
		<div class="page_subtitle">We are Caffora team</div>
	</div>
</div>
<div class="about_container">
	<div class="about">
		<div class="about_image">
			<div>
				<%= image_tag 'service_4.jpg'%>
			</div>
		</div>
		<div class="about_info">
			<div>
				<h6>Branding</h6>
				<span>You can subscribe here to get our latest news.</span>
				<p>We create sites that fit and support your brand, engage your users and help grow your business.</p>
			</div>
		</div>
	</div>
	<div class="about">
		<div class="about_image">
			<div>
				<%= image_tag 'service_1.jpg'%>
			</div>
		</div>
		<div class="about_info">
			<div>
				<h6>Branding</h6>
				<span>You can subscribe here to get our latest news.</span>
				<p>We create sites that fit and support your brand, engage your users and help grow your business.</p>
			</div>
		</div>
	</div>
	<div class="about">
		<div class="about_image">
			<div>
				<%= image_tag 'service_2.jpg'%>
			</div>
		</div>
		<div class="about_info">
			<div>
				<h6>Branding</h6>
				<span>You can subscribe here to get our latest news.</span>
				<p>We create sites that fit and support your brand, engage your users and help grow your business.</p>
			</div>
		</div>
	</div>
</div>
<div class="about_slider">
	<div class="picture_table"><%= render 'pictures/table' %></div>
	<div class="picture_form"></div>
</div>