<div class="scroller_container">
	<div class="scroller">
		<% @sliders.each do |slider| %>
	  	<div>
	  		<div class="overlay"></div>
	  		<div class="scroller_content">
	  			<h5><%= slider.title %></h5>
	  			<span><%= slider.subtitle %></span>
	  			<% if slider.url.present? %>
	  				<%= link_to "Más Información", slider.url, remote: false %>
	  			<%end%>	
	  		</div>
	  		<%= image_tag slider.image.url(:large) %>
	  	</div>
	  <% end %>
	</div>
</div>	
<div class="wrapper_posts_home">
	<div class="title_container">
		<h1>Publicaciones Recientes</h1>
		<div class="line"></div>
		<%= image_tag 'bean_icon.png'%>
	</div>
	<div>
		<%= render :file => '/posts/index' %>
	</div>
</div>
<div class="parallax">
	<div class="overlay"></div>
	<span class="span_h1">Arte acompañado de una buena taza de café</span>
</div>
<div class="wrapper_collections_home">
	<div class="title_container">
		<h1>Galeria de Fotografías.</h1>
		<div class="line"></div>
		<%= image_tag 'home_icon.png'%>
	</div>
	<div>
		<%= render :file => '/collections/index' %>
	</div>
</div>



