<div class="title_page">
	<%= image_tag 'page-title.jpg'%>
	<div class="title_content">
		<h2><%= title 'Ganadores del Café' %></h2>
		<div class="page_subtitle">Costa Rica 2017</div>
	</div>
</div>
<div class="wrapper_winners_barismo">
	<div class="title_container_winners">
		<%= image_tag 'logotaza.png'%>
		<h1>Taza de la Excelencia</h1>
	</div>
	<div class="winners_wrapper">
		<ul>	
			<li><h4>Gabriel Céspedes - <span>Tetracampeón Nacional</span></h4></li>
			<li><h4>Ariel Bravo - <span>Bicampeón Nacional</span></h4></li>
			<li><h4>Francella Rodríguez - <span>Campeón Nacional</span></h4></li>
		</ul>
	</div>	
	<div class="title_container_winners">
		<%= image_tag 'logoreto.png'%>
		<h1>Reto Barista</h1>
	</div>
	<div class="winners_wrapper">
		<ul>	
			<li><h4>Gabriel Céspedes - <span>Tetracampeón Nacional</span></h4></li>
			<li><h4>Ariel Bravo - <span>Bicampeón Nacional</span></h4></li>
			<li><h4>Francella Rodríguez - <span>Campeón Nacional</span></h4></li>
		</ul>
	</div>
	<div class="title_container_winners">
		<%= image_tag 'logolatte.png'%>
		<h1>Arte Latte</h1>
	</div>
	<div class="winners_wrapper">
		<ul>	
			<li><h4>Gabriel Céspedes - <span>Tetracampeón Nacional</span></h4></li>
			<li><h4>Ariel Bravo - <span>Bicampeón Nacional</span></h4></li>
			<li><h4>Francella Rodríguez - <span>Campeón Nacional</span></h4></li>
		</ul>
	</div>
	<div class="title_container_winners">
		<%= image_tag 'logoinfu.png'%>
		<h1>Infusiones</h1>
	</div>
	<div class="winners_wrapper">
		<ul>	
			<li><h4>Gabriel Céspedes - <span>Tetracampeón Nacional</span></h4></li>
			<li><h4>Ariel Bravo - <span>Bicampeón Nacional</span></h4></li>
			<li><h4>Francella Rodríguez - <span>Campeón Nacional</span></h4></li>
		</ul>
	</div>
	<div class="title_container_winners">
		<%= image_tag 'logoespi.png'%>
		<h1>Bebida Espirituosa</h1>
	</div>
	<div class="winners_wrapper">
		<ul>	
			<li><h4>Gabriel Céspedes - <span>Tetracampeón Nacional</span></h4></li>
			<li><h4>Ariel Bravo - <span>Bicampeón Nacional</span></h4></li>
			<li><h4>Francella Rodríguez - <span>Campeón Nacional</span></h4></li>
		</ul>
	</div>
	<div class="title_container_winners">
		<%= image_tag 'logocata.png'%>
		<h1>Catación</h1>
	</div>
	<div class="winners_wrapper">
		<ul>	
			<li><h4>Gabriel Céspedes - <span>Tetracampeón Nacional</span></h4></li>
			<li><h4>Ariel Bravo - <span>Bicampeón Nacional</span></h4></li>
			<li><h4>Francella Rodríguez - <span>Campeón Nacional</span></h4></li>
		</ul>
	</div>
</div>