<div class="post_grid">
    <% @posts.each do |post| %>
        <div class="post_container">
            <div class="post">
                <div class="post_thumb">
                    <%= image_tag post.cover.url(:thumb) %>
                </div>
                <h4>
                    <%= link_to post.title, postlink_path(post), class: "transitionOne ajaxLink", remote: :true %>
                </h4>
                <div class="post_details">
                    <span><%= post.release_date.to_formatted_s(:long) %></span>
                    <span>/</span>
                    <span><%= post.subtitle %></span>
                </div>
                <div class="post_view">
                    <%= link_to "Ver post →", postlink_path(post), class: "transitionOne ajaxLink", remote: :true %>
                </div>
                <% if user_signed_in? && current_user.role ==="admin" %>
                    <div class="post_links transitionOne">
                        <%= link_to 'Edit', edit_post_path(post), :remote => true, class: "post_edit transitionOne" %>
                        <span>/</span>
                        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: "post_delete transitionOne" %>
                    </div>
                <%end%>   
            </div>
        </div>
    <% end %>
    <% if user_signed_in? && current_user.role ==="admin" %>
        <div class="post_new">
            <td colspan="8"><%= link_to 'New Post', new_post_path, :remote => true, class: "transitionOne buttonOne" %></td>
        </div>
    <%end%>        
</div>