<div class="post_cover">
	<span class="span_h1"><%= @post.subtitle %></span>
	<%= image_tag @post.cover.url(:large) %>
	<div class="overlay"></div>
</div>

<div class="post_wrapper">
<meta name="title" content="<%= @post.title %>">
	<div class="post_title">
		<h1><%= title @post.title %></h1>
		<p><%= @post.release_date.to_formatted_s(:long) %></p>
		<p><span>Escrito por: <%= @post.author %></span><p>
	</div>

	<div class="content_table"><%= render "contents/table" %></div>

	<div class="content_form"></div>

</div>
<% if @collection.present? %>
         
	<div class="parallax_post" style="background-image: url(<%= @collection.cover.url(:large)%>)">
		<div class="overlay"></div>
		<span class="span_h1">Fotografias de <%= @post.subtitle %></span>
	</div>
	<div>

		<%= render 'images/table' %>

		<div class="image_form"></div>

		<%= link_to 'Ir al Blog', blog_path, class: "link" %>

		<!-- 	<%= link_to 'Edit', edit_post_path(@post) %> -->
	</div>

<% end %>	