<div class="image_grid">    
    <div class="cms-grid-wraper cms-grid-masonry shuffle-grid-masonry">
        <div class="row cms-grid cms-grid-masonry">
            <% @collection.images.each do |image| %>
                <div class="cms-grid-item-masonry  cms-grid-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="cms-grid-content overlay_wrap">
                        <%= image_tag image.content.url(:thumb) %>
                        <div class="overlay_collection_images">
                            <div class="overlay_content_images">
                                <a class="icon circle prettyphoto" href="<%= image.content.url(:large)%>" data-rel="prettyPhoto[rel-cms-grid]"><i class="fa fa-hand-pointer-o"></i></a>
                                <a class="icon" href="//pinterest.com/pin/create/button/?url=http://caffora.cafe<%= image.content.url(:large)%>" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% if user_signed_in? && current_user.role ==="admin" %>
                    <div class="image_links">
                        <%= link_to 'Destroy', [@collection, image], method: :delete, data: { confirm: 'Are you sure?' }, class: "image_delete" %>
                    </div>    
                <%end%>
            <% end %>
        </div>
    </div>
    <% if user_signed_in? && current_user.role ==="admin" %>
        <div class="image_new">
            <td colspan="8"><%= link_to 'New Image', new_collection_image_path(@collection), :remote => true, class: "transitionOne buttonOne" %></td>
        </div>
    <%end%>        
</div>